body {
    margin: 0;
    font-family: Roboto, Helvetica Neue, sans-serif;
}

.small-icon {
    width: 30px;
    height: 30px;
}
  
.rounded-icon {
    border-radius: 50%;
}
  
.large-icon {
    width: 100px;
    height: 100px;
}

.support-section {
    background-color: #1b1d24;
    padding: 15px;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 20px 0 20px;
}

.support-header {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100px;
}

.container-icon {
    background-color: #22242d;
    border-radius: 12px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon ion-icon {
    font-size: 64px;
}

.top-text h1 {
    font-size: 28px;
    font-weight: 500;
}

.top-text p {
    color: #9ea7b1;
    font-size: 16px;
    font-weight: 500;
}

.redirect-buttons {
    display: flex;
    justify-content: center;
}

.redirect {
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    line-height: inherit;
    height: 30px;
    width: 200px;
    --color: white;
    --background: #237bff;
}

.redirect.alt {
    --color: #237bff;
    --background: #29374d;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    background: #1a1a1a;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
}

.ticket-row {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.ticket-column {
    flex: 1;
    text-align: center;
}

ion-item {
    --background: transparent;
    --color: white;
}

ion-list {
    background: transparent;
}

.ticket-list {
    background-color: #22242d;
    border-radius: 12px;
    padding: 15px;
    margin-top: 15px;
}

.ticket-list ion-item {
    --background: transparent;
    border-bottom: 1px solid #29374d;
    padding: 10px 0;
}

.ticket-list ion-item:last-child {
    border-bottom: none;
}

.ticket-list ion-label h2 {
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
}

.ticket-list ion-label p {
    color: #9ea7b1;
    margin: 0;
}


#Solved {
    color: #00ff00;
}

#notSolved {
    color: #ff0000;
}