<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goTab1()">
        <ion-img src="assets/icon/favicon.png" class="small-icon"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title>SkinTracker</ion-title>
    <ion-buttons slot="end">
      {{ currentUser?.username }}
      <ion-button (click)="goTab4()">
        <ng-container *ngIf="currentUser?.profilePic; else defaultIcon">
          <ion-img [src]="currentUser.profilePic" class="small-icon rounded-icon"></ion-img>
        </ng-container>
        <ng-template #defaultIcon>
          <ion-icon name="person-circle-outline" class="small-icon"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>